.robot-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  box-sizing: border-box;
}

.robot-face-shape {
  width: 550px;
  height: 550px;
  border: 5px solid #333;
  border-radius: 25%;
  background: #f0f0f0;
  position: absolute;
  top: calc(50% + 40px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.robot-eye-left,
.robot-eye-right {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  border-radius: 50%;
  position: absolute;
  top: 120px;
}
.robot-eye-left {
  left: 90px;
}

.robot-eye-right {
  right: 90px;
}

.robot-ear-left,
.robot-ear-right {
  width: 60px;
  height: 120px;
  border-radius: 50%;
  background: greenyellow;
  position: absolute;
  top: 150px;
  z-index: -5;
}

.robot-ear-left {
  left: 300px;
  transform: rotate(-50deg);
}

.robot-ear-right {
  right: 300px;
  transform: rotate(50deg);
}

.robot-nose {
  width: 60px;
  height: 120px;
  background: url("../assets/images/fancy-robot-solved-example.png") no-repeat
    center/cover;
  border-radius: 40% / 60%;
  position: absolute;
  top: 215px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
}

.robot-teeth {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex; /* kinda centers with respect to each other */
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.robot-mouth {
  width: 320px;            
  height: 75px;           
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: red;        
  opacity: 0.4;            
  border-radius: 0 0 100px 100px / 0 0 60px 60px; 
  /* display: flex; testing another way for centering... */
  justify-content: center;
  align-items: flex-start;
}

.robot-teeth-top,
.robot-teeth-bottom {
  display: flex;
  gap: 5px;
}

.robot-tooth {
  width: 3em;
  height: 2em;
  background: white;
  border: 1px solid #ccc;
  display: inline-block;
}

.robot-hair-style {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* ty for existing */
  z-index: 10;
}

.robot-hair-two,
.robot-hair-three,
.robot-hair-one {
  width: 20px;
  height: 40px;
  background: purple;
  border-radius: 50% 50% 0 0;
  display: inline-block;
  margin: 0 4px;
}
